form {
  background: rgba($color-link, .15);
  padding: 1.8em;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 .6em; /* 0 0 12px */
}

fieldset fieldset {
  margin-bottom: 1.2em;
}

legend {
  font-family: $font-family-headings;
  font-size: 1.2em; /* 24px */
  font-weight: $font-weight-bold;
  line-height: 1.3333; /* 32px */
  margin: 0 0 .6em;
}

label {
  display: block;
  font-weight: $font-weight-bold;
  margin: 0;
}

input,
textarea,
select {
  background: $color-light;
  border: 0;
  color: $color-text-dark;
  font-family: $font-family;
  font-size: 1em;
  margin: 0 0 .6em;
  padding: 0.6em;
}

input:focus,
textarea:focus,
select:focus {
  border-left: 5px solid $color-link;
  margin-left: -5px;
}

input[type=radio],
input[type=checkbox] {
  border: 0;
  margin: 0;
  padding: 0;
}

button {
  overflow: visible;
  width: auto;
}

button,
input[type=submit] {
  background: $color-link;
  border: 0;
  color: $color-light;
  cursor: hand;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em; /* 20px */
  font-weight: $font-weight-bold;
  text-align: center;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  vertical-align: baseline;
}

button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {

}

button:active,
input[type=submit]:active {
  position: relative;
  top: 1px;
}

textarea {
  background: $color-light;
  overflow: auto;
}

optgroup {
  font-family: inherit;
  font-style: normal;
  font-weight: $font-weight-bold;
}

form ul {

}
