
.futura {
  font-family: $font-family-headings;
}

/** 1. LINKS ---------- */

a {
  border-bottom: 1px solid $color-link;
  color: $color-link;
  text-decoration: none;

  &:active {
    background: #000;
    color: #000;
  }

  &:hover,
  &:active {

  }

  &:focus,
  &:hover {
    border-bottom-color: $color-text-dark;
    color: $color-text-dark;
  }

  &:link {
    -webkit-tap-highlight-color: #33B4DA;
  }
}

/** 2. HEADINGS ---------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  text-indent: -1px;
}

h1 {
  font-size: 3em; /* 54px */
  letter-spacing: -0.0185em; /* 1px */
  line-height: 1.111111; /* 60px */
  margin: 0 0 0.555555em; /* 30px */

  margin: 0 0 1.111111em -2px;
}

.lead {
  @extend h1;
  font-size: 4.8em;
  margin: 0 0 0.3em;
}

h2 {
  font-size: 1.666666em; /* 30px */
  letter-spacing: -0.0312em; /* 1px */
  line-height: 1; /* 30px */
  margin: 0 0 0.666667em; /* 0 0 20px */
  padding: 0.333333em 0 0; /* 10px 0 0 */

  margin: 0 0 0.733334em; /* 0 0 22px */
  padding: 0.266666em 0 0; /* 8px 0 0 */

  margin: 0 0 1em;
  padding: 0;
}

h3 {
  font-size: 1.333333em; /* 24px */
  line-height: 1.25; /* 30px */
  margin: 0;
}

h4 {
  font-size: inherit;
  margin: 0;
}

h5,
h6 {
  font-size: 0.777777em; /* 14px */
  line-height: 2.142857;
  margin: 0;
  text-transform: uppercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  border: 0;
  color: $color-text-dark;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: $color-text-dark;
}

/** 3. TEXT ---------- */

p {
  margin: 0 0 $margin-text-small;

  @include respond-to(medium) {
    margin: 0 0 $margin-text-medium;
  }
}

/*p + p {
  margin-top: -1.666666em;
  text-indent: 1.5em;
}*/

hr {
  background: url(/images/hr.png) left center repeat-x;
  border: 0;
  clear: both;
  display: block;
  height: 3.333333em;
  margin: 0; /* 30px */
  opacity: .4;
  padding: 0;
}

p + hr,
ul + hr,
ol + hr,
dl + hr {
  margin-top: -$margin-text-small;

  @include respond-to(medium) {
    margin-top: -$margin-text-medium;
  }
}

blockquote {
  border-left: 4px solid rgba($color-link, .6);
  color: $color-link;
  padding: 0.833333em;
  margin: 0 0 $margin-text-small;

  @include respond-to(medium) {
    margin: 0 0 $margin-text-medium;
  }

  a {
    border-bottom: 1px solid $color-link;
    &:hover {
      border-bottom-color: $color-text;
      color: $color-text;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  cite {
    color: $color-text;
    font-style: italic;
  }
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

q {
  font-style: italic;
}

cite {
  color: $color-text;
  font-style: italic;
}

strong {
  color: $color-text-dark;
  font-weight: $font-weight-bold;
}

em,
dfn {
  color: $color-text-dark;
  font-style: italic;
}

dfn {
  font-weight: $font-weight-bold;
}

abbr,
acronym {
  border-bottom: 1px dotted $color-text-dark;
}

address {
  display: block;
  font-style: italic;
  margin: 0 0 $margin-text-small;

  @include respond-to(medium) {
    margin: 0 0 $margin-text-medium;
  }
}

del {
  color: rgba($color-text, .8);
  text-decoration: line-through;
}

mark {
  background: $color-link;
  color: $color-light;
  font-weight: $font-weight-normal;
  padding: 0 0.15em; /* 3px */
}

ins {
  background: $color-light;
  background: rgba($color-light, .8);
  padding: 0 0.15em; /* 3px */
  text-decoration: none;
}

pre {
  padding: .6em; /* 12px */
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

code {
  /*margin: .6em 0;*/ /* 12px */
}

pre,
code,
tt,
kbd,
samp {
  font-family: monospace, sans-serif;
}

sup,
sub {
  line-height: 90%;
}

sub {
  font-size: smaller;
  vertical-align: sub;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

time {

}

small {
  font-size: 0.7em; /* 14px */
}

kbd {
  @include border-radius(4px);
  background: rgba($color-link, .2);
  border: 1px solid $color-link;
  color: $color-link;
  font-size: 0.8em; /* 16px */
  line-height: 90%;
  margin: 0 0.2em; /* 0 4px */
  padding: 0.1em 0.3em; /* 2px 6px */
}

::-moz-selection {
  background: $color-light;
  color: $color-text-dark;
  text-shadow: none;
}

::selection {
  background: $color-light;
  color: $color-text-dark;
  text-shadow: none;
}

/** 4. LISTS ---------- */

li ul,
li ol {
  margin: 0 0 $margin-text-small $margin-text-small;

  @include respond-to(medium) {
    margin: 0 0 $margin-text-medium 1em;
  }
}

ul,
ol {
  list-style: disc inside;
  margin: 0 0 $margin-text-small;
  padding: 0;

  @include respond-to(medium) {
    list-style: disc outside;
    margin: 0 0 $margin-text-medium;
  }
}

ol {
  list-style: decimal inside;
}

dl {
  margin: 0;
}

dt {
  color: $color-text-dark;
  font-weight: $font-weight-bold;
}

dd {
  margin: 0 0 $margin-text-small;

  @include respond-to(medium) {
    margin: 0 0 $margin-text-medium;
  }
}

nav {
  ul,
  ol {
    list-style: none;
    list-style-image: none;
    margin: 0;

    a {
      border-color: $color-text-dark;
      color: $color-text-dark;
    }
  }
}

/** 5. MEDIA ---------- */

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* Fluid images: http://unstoppablerobotninja.com/entry/fluid-images/ */
img,
object,
embed {
  max-width: 100%;
}

/* Use clearfix on figure */
figure:before, figure:after { content: ""; display: table; }
figure:after { clear: both; }
figure { *zoom: 1; }

figure {
  margin: 0 0 $margin-text-small;

  @include respond-to(medium) {
    margin: 0 0 $margin-text-medium;
  }
}

figure img {
  float: left;
}

figcaption {
  clear: both;
  color: $color-text;
  color: rgba($color-text, .5);
  font-size: .8em;

  a {
    border-color: $color-text;
    border-color: rgba($color-text, .5);
    color: $color-text;
    color: rgba($color-text, .5);
  }
}

/** 6. TABLES ---------- */

table {
  background: rgba($color-link, .15);
  margin: 0 0 $margin-text-small;
  width: 100%;

  @include respond-to(medium) {
    margin: 0 0 $margin-text-medium;
  }
}

caption {
  background: rgba($color-link, .4);
  font-size: inherit; /* 24px */
  font-weight: $font-weight-bold;
  padding: 0 0.222222em;
  text-align: left;
}

tbody {
  border: 0;
}

tbody th {
  border: 0;
}

thead th {
  text-align: left;
}

tr {
  border-bottom: 1px solid rgba($color-link, .4);
}

th,
td {
  border-right: 1px solid rgba($color-link, .4);
  line-height: 1.611111em;
  padding: 0 0.222222em;
}

tr th:last-child,
tr td:last-child {
  border-right: 0;
}

th {
  font-weight: $font-weight-bold;
  text-align: left;
}

td,
td img {
  vertical-align: top;
}

tfoot {
  font-style: italic;
}
