/**
 * Global styles
 * This file contains the global styling for .
 *
 * 1. Setup
 *    Global, general stuff.
 *
 * 2. Useful classes
 *    Non semantic helper classes.
 */

/** 1. SETUP ---------- */

/**
 * Box sizing border box
 */
* {
  @include box-sizing();
}

html {
  background: rgba($color-link, .2);
  font: 400 100%/1.5 $font-family; /* 16px */
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.125em; /* 18px */
  line-height: 1.6666; /* 30px */
  padding: 4em 4em 0; /* 40px 20px */
  max-width: 1000px;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 0.875em; /* 14px */
    line-height: 1.4285; /* 20px */
    padding: 1.4285; /* 20px */
  }
}
