---
layout: landingpage
body_class: page__post
---

<div class="l-section">
  <article role="main" class="post post--{{ page.type }} h-entry" vocab="http://schema.org/" typeof="BlogPosting">
    {% case page.type %}
      {% when 'link' %}
        <div property="articleBody" class="post__content e-content">
          {% if page.image %}
            <figure class="post__image">
              <a href="{{ page.link_url }}">
                <img src="{{ page.image }}" alt="{{ page.title }}">
              </a>

              {% if page.caption %}
                <figcaption>
                  {{ page.caption }}
                </figcaption>
              {% endif %}
            </figure>
          {% endif %}

          <h1 property="name" class="post__title p-name">
            <a href="{{ page.link_url }}">
              {{ page.link_title }}
            </a>
          </h1>

          {{ content }}
        </div>
      {% when 'quote' %}
        <div property="articleBody" class="post__content e-content">
          <blockquote class="post__quote">
            {{ page.quote }}
          </blockquote>

          {% if page.cite %}
            <cite class="post__cite">
              {{ page.cite }}
            </cite>
          {% endif %}

          {{ content }}
        </div>
      {% when 'image' %}
        <div property="articleBody" class="post__content e-content">
          <figure class="post__image">
            <img src="{{ page.image }}" alt="{{ page.title }}">

            {% if page.caption %}
              <figcaption>
                {{ page.caption }}
              </figcaption>
            {% endif %}
          </figure>
          {{ content }}
        </div>
      {% when 'video' %}
        <div property="articleBody" class="post__content e-content">
          <figure class="post__video">
            {{ page.video_embed_code }}

            {% if page.caption %}
              <figcaption>
                {{ page.caption }}
              </figcaption>
            {% endif %}
          </figure>
          {{ content }}
        </div>
      {% else %}
        <header class="post__header">
          {% if page.image %}
            <figure class="post__image">
              <img property="image" src="{{ page.image }}" alt="{{ page.image_alt }}">
            </figure>
          {% endif %}

          <h1 property="name" class="post__title p-name">
            <a href="{{ page.url }}">
              {{ page.title }}
            </a>
          </h1>
        </header>

        <div property="articleBody" class="post__content e-content">
          {{ content }}
        </div>
    {% endcase %}

    <footer class="post__footer">
      <div class="post__meta">
        <time class="post__date dt-published" property="dateCreated" pubdate>
          <a property="url" class="u-url" href="{{ page.url }}">
            {{ page.date | date_to_string }}
          </a>
        </time>

         by <a rel="author" class="p-author h-card" href="http://www.helloper.com">Per</a>
      </div>

      {% if page.source_url %}
        <div class="post__source">
          via
          <a property="isBasedOnUrl" href="{{ page.source_url }}">
            {% if page.source_title %}
              {{ page.source_title }}
            {% else %}
              {{ page.source_url }}
            {% endif %}
          </a>
        </div>
      {% endif %}
    </footer>
    <!-- / .post__footer -->

    {% if page.comments %}
      <div class="post__comments" id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = 'helloper';
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    {% endif %}
  </article>
  <!-- / post -->
</div>
<!-- / l-section -->
