---
layout: landingpage
---

<div class="l-section">
  <article class="post h-entry" vocab="http://schema.org/" typeof="BlogPosting">
    <time property="dateCreated" class="dt-published" pubdate>{{ page.date | date_to_string }}</time> by <a rel="author" class="p-author h-card" href="http://www.helloper.com">Per</a>

    <h1 property="name" class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>

    <div property="articleBody" class="e-content">
      {{ content }}
    </div>

    <div class="post-comments" id="disqus_thread" vocab="http://schema.org/" typeof="UserComments"></div>
    <script type="text/javascript">
      var disqus_shortname = 'helloper';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </article>
</div>
