.global-header {
  text-align: center;
}

.navigation {
  border-bottom: 1px dashed rgba($color-link, .5);
  padding: 2.5em 0;

  ul {
    list-style: none;
    margin: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    margin-right: 1em;
  }

  a {
    border: 0;
    color: $color-text;
  }
}

.nav-active {
  border-bottom: 1px solid $color-text;
}
