
table {
  border-bottom: 1px solid $ds-color-border;
  border-collapse: collapse;
  border-left: 1px solid $ds-color-border;
  border-right: 1px solid $ds-color-border;
  margin: 0 0 $ds-margin;
  width: 100%;
}

caption {
  font-size: emCalc(24px);
  font-weight: $ds-font-weight-bold;
  line-height: 1.3333;
  padding: 0 0 $ds-padding;
  text-align: $ds-float;
}

tbody,
tbody th {
  border: 0;
}

th {
  background: #ccc;
  border-bottom: 1px solid $ds-color-border;
  border-right: 1px solid $ds-color-border;
  border-top: 1px solid $ds-color-border;
  font-weight: $ds-font-weight-bold;
  padding: $ds-padding;
}

th,
thead th {
  text-align: $ds-float;
}

td {
  border-bottom: 1px solid $ds-color-border;
  border-right: 1px solid $ds-color-border;
  padding: ds-em-calc(4px) ds-em-calc(7px);
}

td,
td img {
  vertical-align: top;
}

tfoot {
  font-style: italic;
}
