
fieldset {
  border: 1px solid $ds-color-border;
  border-bottom-width: 2px;
  border-top-width: 2px;
  margin: 0 0 $ds-margin;
  padding: $ds-padding;
}

legend {
  font-size: $ds-h3-font-size;
  font-weight: $ds-font-weight-bold;
  line-height: 1.3333;
  margin-#{$ds-float}: $ds-padding;
  padding: $ds-padding;
}

label {
  color: $ds-color-text-dark;
  display: block;
  font-size: ds-em-calc(14px);
  font-weight: $ds-font-weight-bold;
  margin: 0 0 ($ds-margin/2);
}

input,
textarea,
select {
  @include border-radius(4px);
  background: $ds-color-light;
  border: 0;
  color: $ds-color-text;
  font-family: inherit;
  font-size: 1em;
  margin: 0 0 $ds-margin;
  padding: ds-em-calc(10px) ds-em-calc(15px);
}

input:focus,
textarea:focus,
select:focus {

}

input[type="radio"],
input[type="checkbox"] {
  border: 0;
  margin: 0;
  padding: 0;

  & + label {
    display: inline-block;
  }
}

button {
  overflow: visible;
  width: auto;
}

button,
input[type="submit"] {
  margin: 0 ($ds-margin/4) ($ds-margin/2) 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-family: inherit;
  font-style: normal;
  font-weight: $ds-font-weight-bold;
}
