audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

img,
object,
embed {
  max-width: 100%;
}

img {
  border: 0;
  display: inline-block;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

object,
embed {
  height: 100%;
}

figure {
  @include clearfix;
  margin: 0 0 $ds-margin;

  img {
    float: $ds-float;
  }
}

figcaption {
  clear: both;
}
