*,
*:before,
*:after {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background: $ds-color-background;
  font-size: $ds-font-size;
}

html {
  direction: $ds-text-direction;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: $ds-color-text;
  font-family: $ds-font-family;
  font-weight: $ds-font-weight;
  font-style: $ds-font-style;
  margin: 0;
  padding: 0;
  line-height: $ds-line-height;
  position: relative;
}

/** LINKS ---------- */

a {
  border-bottom: 2px solid $ds-color-link-border;
  color: #000;
  text-decoration: none;

  &:active {
    background: #000;
    color: #000;
  }

  &:hover,
  &:active {

  }

  &:focus,
  &:hover {
    border-bottom-color: $ds-color-text-dark;
    color: $ds-color-text-dark;
  }

  &:link {
    -webkit-tap-highlight-color: #33B4DA;
  }
}

/** HEADINGS ---------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: $ds-font-family-headings;
  font-weight: $ds-font-weight-bold;
  text-indent: -1px;

  a {
    border: 0;
    color: $ds-color-text-dark;

    &:hover {
      color: $ds-color-text-dark;
    }
  }
}

h1 {
  font-size: 2.8em;
  letter-spacing: -0.0185em;
  line-height: 1.111111;
  margin: 0 0 .5em;

  @include breakpoint($ds-breakpoint-tablet) {
    font-size: 4em;
  }
}

h2 {
  font-size: 1.666666em;
  letter-spacing: -0.0312em;
  line-height: 1;
  margin: 0 0 1em;
  padding: 0;
}

h3 {
  font-size: 1.333333em;
  line-height: 1.25;
  margin: 0;
}

h4 {
  font-size: inherit;
  margin: 0;
}

h5,
h6 {
  font-size: 0.777777em;
  line-height: 2.142857;
  margin: 0;
  text-transform: uppercase;
}

/** TEXT ---------- */

p {
  margin: 0 0 $ds-margin;
}

hr {
  border: 1px solid rgba(0, 0, 0, .3);
  border-width: 1px 0 0;
  clear: both;
  margin: ds-em-calc(40px) 0 (ds-em-calc(40px) - ds-em-calc(1px));
  height: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

blockquote {
  border-#{$ds-float}: $ds-color-border;
  margin: 0 0 $ds-margin;
  padding: $ds-padding;

  cite {
    color: $ds-color-text;
    display: block;
  }

  a,
  a:visited {
    color: #666;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

q {
  font-style: italic;
}

strong,
b {
  font-weight: $ds-font-weight-bold;
  line-height: inherit;
}

em,
dfn,
i {
  font-style: italic;
  line-height: inherit;
}

dfn {
  font-weight: $ds-font-weight-bold;
}

abbr,
acronym {
  border-bottom: 1px dotted $ds-color-border;
  color: $ds-color-text;
  cursor: help;
  text-transform: uppercase;
}

abbr {
  text-transform: none;
}

del {
  //color: $ds-color-text-light;
  text-decoration: line-through;
}

mark {
  background: #111;
  color: #fff;
  font-weight: $ds-font-weight;
  padding: 0 ds-em-calc(3px);
}

ins {
  background: rgba(255, 255, 255, .9);
  font-weight: $ds-font-weight;
  padding: 0 ds-em-calc(3px);
}

pre {
  padding: ds-em-calc(12px);
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

code {
  margin: $ds-margin 0;
}

pre,
code,
tt,
kbd,
samp {
  font-family: monospace, sans-serif;
  font-weight: normal;
}

sup,
sub {
  line-height: 90%;
}

sub {
  font-size: smaller;
  vertical-align: sub;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

small {
  font-size: 60%;
}

kbd {
  background: #ccc;
  border: 1px solid $ds-color-border;
  border-radius: ds-em-calc(4px);
  color: #666;
  font: normal normal 0.8em/90% sans-serif;
  margin: 0 ds-em-calc(4px);
  padding: ds-em-calc(2px) ds-em-calc(6px);
}

::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/** LISTS ---------- */

ul,
ol {
  list-style: circle outside;
  margin: 0 0 $ds-margin;
  padding: 0;
}

ol {
  list-style: decimal inside;
}

li ul,
li ol {
  margin-#{$ds-float}: $ds-margin;
}

dl {
  margin: 0 0 $ds-margin;
}

dt {
  font-weight: $ds-font-weight-bold;
}

dd {
  margin: 0 0 $ds-margin;

  dl &:last-child {
    margin: 0;
  }
}

nav {
  ul,
  ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-#{$ds-float-opposite}: $ds-margin;

    &:last-child {
      margin-#{$ds-float-opposite}: 0;
    }
  }
}
