// -----------------------------------------------------------------------------
// Setup
// -----------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  @include ds-font-smoothing;
  background: $ds-color-background;
  color: $ds-color-text;
  direction: ltr;
  font-family: $ds-font-family;
  font-size: $ds-font-size-small;
  font-style: $ds-font-style;
  font-weight: $ds-font-weight;
  line-height: $ds-line-height;
  text-rendering: optimizeLegibility;

  @include breakpoint($ds-breakpoint-iphone6plus) {
    font-size: ds-rem-calc($ds-rem-base);
  }
}

body {
  background: $ds-color-background;
  overflow-y: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;

  &:not([class]) {
    [role="main"] {
      @extend %ds-page;

      > header {
        @extend %ds-header;
      }

      > section {
        @extend %ds-section;
      }
    }
  }
}
