---
layout: landingpage
title: Blog | Per Sandström
meta_title: Blog
meta_description: "All blog posts from 2009 up until today."
---

<header class="heading-page">
  <h1 class="t-heading-marked">
    <span>These are</span><br>
    <span>all my blog posts</span>
  </h1>

  <p>(<a href="http://feeds.feedburner.com/HelloPer">It's dangerous to go alone! Take this RSS</a>)</p>
</header>

<main class="posts" role="main">
  {% for post in paginator.posts %}
    {% if post.type == "post-blank" %}
      {{ post.content }}
    {% else %}
      <div class="l-section">
      <article class="post post--{{ post.type }}" vocab="http://schema.org/" typeof="BlogPosting">
        {% case post.type %}
          {% when 'link' %}
            <div property="articleBody" class="post__content">
              {% if post.image %}
                <figure class="post__image">
                  <a href="{{ post.link_url }}">
                    <img src="{{ post.image }}" alt="{{ post.title }}">
                  </a>

                  {% if post.caption %}
                    <figcaption>
                      {{ post.caption }}
                    </figcaption>
                  {% endif %}
                </figure>
              {% endif %}

              <h1 property="name">
                <a href="{{ post.link_url }}">
                  {{ post.link_title }}
                </a>
              </h1>

              {{ post.content }}
            </div>
          {% when 'quote' %}
            <div property="articleBody" class="post__content">
              {% if post.image %}
                <figure class="post__image">
                  <img src="{{ post.image }}" alt="{{ post.title }}">

                  {% if post.caption %}
                    <figcaption>
                      {{ post.caption }}
                    </figcaption>
                  {% endif %}
                </figure>
              {% endif %}

              <blockquote class="post__quote">
                {{ post.quote }}
              </blockquote>

              {% if post.cite %}
                <cite class="post__cite">
                  {{ post.cite }}
                </cite>
              {% endif %}

              {{ post.content }}
            </div>
          {% when 'image' %}
            <div property="articleBody" class="post__content">
              <figure class="post__image">
                <img src="{{ post.image }}" alt="{{ post.title }}">

                {% if post.caption %}
                  <figcaption>
                    {{ post.caption }}
                  </figcaption>
                {% endif %}
              </figure>
              {{ post.content }}
            </div>
          {% when 'video' %}
            <div property="articleBody" class="post__content">
              <figure class="post__video">
                {{ post.video_embed_code }}

                {% if post.caption %}
                  <figcaption>
                    {{ post.caption }}
                  </figcaption>
                {% endif %}
              </figure>
              {{ post.content }}
            </div>
          {% else %}
            <header class="post__header">
              {% if post.image %}
                <figure class="post__image">
                  <img property="image" src="{{ post.image }}" alt="{{ post.image_alt }}">
                </figure>
              {% endif %}

              <h1 property="name">
                <a href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </h1>
            </header>

            {% if post.summary %}
              <div property="description" class="post__summary">
                {{ post.summary }}
                <p class="post__read-more">
                  <a href="{{ post.url }}">Read full post</a>
                </p>
              </div>
            {% else %}
              <div property="articleBody" class="post__content">
                {{ post.content }}
              </div>
            {% endif %}
        {% endcase %}

        <footer class="post__footer">
          <div class="post__meta">
            <time class="post__date" property="dateCreated" pubdate>
              <a property="url" href="{{ post.url }}">
                {{ post.date | date_to_string }}
              </a>
            </time>
          </div>

          {% if post.source_url %}
            <div class="post__source">
              via
              <a property="isBasedOnUrl" href="{{ post.source_url }}">
                {% if post.source_title %}
                  {{ post.source_title }}
                {% else %}
                  {{ post.source_url }}
                {% endif %}
              </a>
            </div>
          {% endif %}
        </footer>
        <!-- / .post__footer -->

      </article>
      <!-- / .post -->
      </div>
      <!-- / .l-section -->
    {% endif %}
  {% endfor %}
</main>
<!-- / .posts -->

<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/blog" class="pagination__previous">
        {% image ui/icons/arrow.svg alt="Previous page" %}
      </a>
    {% else %}
      <a href="/blog/page{{ paginator.previous_page }}" class="pagination__previous">
        {% image ui/icons/arrow.svg alt="Previous page" %}
      </a>
    {% endif %}
  {% endif %}
  <span class="pagination__page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/blog/page{{ paginator.next_page }}" class="pagination__next">
      {% image ui/icons/arrow.svg alt="Next page" %}
    </a>
  {% endif %}
</nav>
<!-- / .pagination -->
