<footer id="footer" class="blog__footer">
  <div class="blog__footer__content">
    <p><strong>Hello, I'm Per.</strong></p>
    <p>
       I do web projects both for a living and for fun.</p>

    <p>You're currently in <a href="/blog">my blog</a>. Being one of the good guys I'm generous both with a <a href="http://feeds.feedburner.com/HelloPer">RSS feed</a> and a <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="CC BY-SA 4.0">license</a> for all my content.
    </p>
    <!--<hr>
    <ul>
      <li><a href="/about">About me</a></li>
      <li><a href="/stuff">Stuff I do</a></li>
    </ul>-->
    <hr>
    <ul>
      <li><a href="https://twitter.com/persand">Twitter</a></li>
      <li><a href="https://github.com/persand">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/psandstrom">LinkedIn</a></li>
      <li><a href="https://facebook.com/permalink">Facebook</a></li>
    </ul>
    <hr>
    <p>Or simply just <a href="/">go home</a>.</p>
  </div>
</footer>
