<nav id="menu" class="slideout-menu" role="navigation">
  <div class="navigation">
    <ol>
      <li><a href="/">Index</a></li>
      <li><a href="/about">About me</a></li>
      <li><a href="/blog">Blog</a></li>
    </ol>
  </div>
</nav>

<div class="navigation-button">
  <button class="hamburger hamburger--vortex is-inactive" type="button"
          aria-label="Menu" aria-controls="menu">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
