<section id="menu" class="slideout-menu">
  <nav id="navigation" class="navigation" role="navigation">
    <ol>
      <li><a href="/">Index</a></li>
      <li><a href="/about">About me</a></li>
      <li><a href="/blog">Blog</a></li>


    </ol>
  </nav>
</section>

<div class="navigation-button">
  <button class="hamburger hamburger--vortex is-inactive" type="button"
          aria-label="Menu" aria-controls="navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
<!--<div class="hamburger-background"></div>-->
