###
# CACHING
###

<FilesMatch "\.(html|htm)$">
  FileETag None
  <IfModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 05 Oct 1983 23:59:59 GMT+1"
  </IfModule>
</FilesMatch>

###
# URL REDIRECTS
###

# Blog posts
Redirect 301 /better-front-end-performance-in-drupal /blog/2012/07/better-front-end-performance-drupal/
Redirect 301 /opening-up-my-drupal-setup /blog/2012/06/opening-up-my-drupal-setup/
Redirect 301 /getting-help-with-blaskan-and-wordpress /blog/2012/06/getting-help-with-blaskan-and-wordpress/
Redirect 301 /help-translate-blaskan /blog/2012/05/help-translate-blaskan/
Redirect 301 /wordpress-child-theme-boilerplate-for-blaskan /blog/2012/02/wordpress-child-theme-boilerplate-for-blaskan/
Redirect 301 /blaskan-wordpress-org /blog/2012/01/blaskan-wordpress-org/
Redirect 301 /youguysshouldlunch /blog/2011/11/youguysshouldlunch/
Redirect 301 /thank-you-k10k /blog/2011/10/kaliber10000/
Redirect 301 /bloglovin-follow-wordpress-plugin /blog/2011/09/bloglovin-follow-wordpress-plugin/
Redirect 301 /blaskan-2-to-be-released /blog/2011/09/blaskan-2-to-be-released/
Redirect 301 /photoshop-etiquette-compress /blog/2011/09/photoshop-etiquette-compress/
Redirect 301 /ffffound-feed-parser-for-drupal /blog/2011/08/ffffound-feed-parser-for-drupal/
Redirect 301 /blaskan-wordpress-theme /blog/2011/04/blaskan-wordpress-theme/
Redirect 301 /typebrowser /blog/2010/10/typebrowser/
Redirect 301 /positive-posters-2010 /blog/2010/08/positive-posters-2010/
Redirect 301 /moving-on /blog/2010/05/moving-on/
Redirect 301 /drupal-module-unit-png-fix /blog/2009/11/drupal-module-unit-png-fix/
Redirect 301 /service-links-swedish-services /blog/2009/11/service-links-swedish-services/
Redirect 301 /my-first-20 /blog/2009/10/my-first-20/

# Old stuff
Redirect 301 /about /
Redirect 301 /contact /

# Misc
Redirect 301 /rss/feed /feed.xml
