
// Set active menu item
.blog,
.blog-post {
  .nav-blog a {
    @extend .nav-active;
  }
}

// Blog start page
.blog {
  .summaries {
    padding-top: 2em;
    padding-bottom: 2em;

    @include respond-to(medium) {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .page-header {
      padding: 0 0 $margin-text-small;

      @include respond-to(medium) {
        padding: 0 0 $margin-text-medium;
      }

      h3 {
        @extend h1;
        margin: 0;
      }

      .button {
        margin-top: $margin-text-small;

        @include respond-to(medium) {
          margin-top: $margin-text-medium;
        }
      }
    }

    .post-summary {
      padding: 0 0 $margin-text-small;

      @include respond-to(medium) {
        padding: 0 0 $margin-text-medium;
      }

      h1 {
        @extend h2;
      }
    }
  }
}

//Blog post page
.blog-post {
  .post {
    padding-top: 2em;
    padding-bottom: 2em;

    @include respond-to(medium) {
      padding-top: 5em;
      padding-bottom: 3.333333em;
    }
  }

  [role="complementary"] {
    padding: 0 0 2em;

    @include respond-to(medium) {
      padding: 0 0 5em;
    }
  }
}

// List of blog posts
// Used on front page and on blog post page
.posts {
  list-style: none;

  li {
    @include clearfix();
  }

  time {
    @extend ins;
    @include border-radius(2px);
  }

  span {
    display: block;
    margin: 0 0 $margin-text-small;

    li:last-child & {
      margin: 0;
    }

    @include respond-to(medium) {
      display: inline;
    }
  }
}
