
.home {
  .nav-index a {
    @extend .nav-active;
  }

  .presentation {
    article {
      margin-bottom: $margin-text-small;
      padding-top: $margin-text-small;
      padding-bottom: $margin-text-small;

      @include respond-to(medium) {
        padding-top: 5em;
        padding-bottom: 5em;
      }

      h1 {
        @extend h2;

        @include respond-to(medium) {
          margin: 0 0 1em;
          padding: 0;
        }
      }

      figcaption {
        padding-top: 5px;
      }
    }
  }

  @include respond-to(medium) {
    .social,
    .social a {
      margin: 0;
    }
  }


  .blog-posts {
    padding-bottom: $margin-text-small;
    position: relative;

    h2 {
      @include respond-to(medium) {
        margin: 0 0 1em;
        padding: 0;
      }
    }

    @include respond-to(medium) {
      padding-bottom: 5em;
    }
  }
}
