
.projects {
  .nav-projects a {
    @extend .nav-active;
  }

  .page-header {
    margin: 0 0 1.666666em;
    margin: 0 0 3em;
  }

  article {
    padding-top: 2em;
    padding-bottom: 2em;

    @include respond-to(medium) {
      padding-top: 5em;
      padding-bottom: 5em;
    }
  }

  figure {
    @include clearfix();
    padding: 0 0 1.666666em;
  }
}
