@charset "UTF-8";


.icon-info-1:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-rss-1:before { content: '\e800'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-left-open-1:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-right-open-1:before { content: '\e801'; } /* '' */
.icon-cc:before { content: '\e7a5'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-globe:before { content: '𝌍'; } /* '\1d30d' */
.icon-download:before { content: '📥'; } /* '\1f4e5' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */
.icon-link:before { content: '🔗'; } /* '\1f517' */