// -----------------------------------------------------------------------------
// Global variables
// Must be namespaced with "ds".
// Example:
// $ds-blue: #036;
// -----------------------------------------------------------------------------

@import "type";
@import "layout";
@import "helpers";
@import "colors";
@import "images";
@import "ui";
