// This is just an example of how to properly setup image paths.

$ds-images-path: '../images/' !default;
$ds-image-creative-commons: "#{$ds-images-path}cc.svg" !default;

/*
body {
  background: image-url($ds-image-medievarlden-logo-m);
}
*/
