// -----------------------------------------------------------------------------
// Directions
// -----------------------------------------------------------------------------

$ds-float: left !default;
$ds-float-opposite: right !default;
$ds-text-direction: ltr !default;

