// -----------------------------------------------------------------------------
// Global functions for variables
//
// These functions are required whenever loading variables. It must be loaded
// first because it contains functions that we use to calculate rem sizes based
// on pixel values.
//
// This code is lifted from Zurb Foundation
// https://github.com/zurb/foundation/blob/master/scss/foundation/_functions.scss
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Load fonts
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Cousine';
  src: url('https://files.helloper.com/fonts/cousine/cousine-bold-webfont.woff2') format('woff2'),
       url('https://files.helloper.com/fonts/cousine/cousine-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cousine';
  src: url('https://files.helloper.com/fonts/cousine/cousine-bolditalic-webfont.woff2') format('woff2'),
       url('https://files.helloper.com/fonts/cousine/cousine-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cousine';
  src: url('https://files.helloper.com/fonts/cousine/cousine-italic-webfont.woff2') format('woff2'),
       url('https://files.helloper.com/fonts/cousine/cousine-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cousine';
  src: url('https://files.helloper.com/fonts/cousine/cousine-regular-webfont.woff2') format('woff2'),
       url('https://files.helloper.com/fonts/cousine/cousine-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// This is the default html and body font-size for the base rem value.
$ds-rem-base: 18px !default;

// -----------------------------------------------------------------------------
// Strip unit
// It strips the unit of measure and returns it
// -----------------------------------------------------------------------------
@function ds-strip-unit($num) {
  @return $num / ($num * 0 + 1);
}


// -----------------------------------------------------------------------------
// Convert to rem
// -----------------------------------------------------------------------------
@function ds-convert-to-rem($value, $base-value: $ds-rem-base) {
  $value: ds-strip-unit($value) / ds-strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}


// -----------------------------------------------------------------------------
// Rem calc
//
// New Syntax, allows to optionally calculate on a different base value to
// counter compounding effect of rem's.
// Call with 1, 2, 3 or 4 parameters, 'px' is not required but supported:
//
//   ds-rem-calc(10 20 30px 40);
//
// Space delimited, if you want to delimit using comma's, wrap it in another
// pair of brackets.
//
//   ds-rem-calc((10, 20, 30, 40px));
//
// Optionally call with a different base (eg: 8px) to calculate rem.
//
//   ds-rem-calc(16px 32px 48px, 8px);
//
// If you require to comma separate your list
//
//   ds-rem-calc((16px, 32px, 48), 8px);
// -----------------------------------------------------------------------------

@function ds-rem-calc($values, $base-value: $ds-rem-base) {
  $max: length($values);

  @if $max == 1 { @return ds-convert-to-rem(nth($values, 1), $base-value); }

  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, ds-convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

// -----------------------------------------------------------------------------
// Font smoothing
// http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
// -----------------------------------------------------------------------------

@mixin ds-font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// -----------------------------------------------------------------------------
// Text
// -----------------------------------------------------------------------------

$ds-font-family: 'Cousine', monospace !default;
$ds-font-family-secondary: 'Libre Franklin', sans-serif !default;
$ds-font-size: 100% !default;
$ds-font-size-small: ds-rem-calc(15) !default;
$ds-font-smoothing: antialiased !default;
$ds-font-style: normal !default;
$ds-font-weight-light: 300 !default;
$ds-font-weight: 400 !default;
$ds-font-weight-bold: 700 !default;
$ds-font-weight-extra-bold: 800 !default;
$ds-line-height: 1.7 !default;


// -----------------------------------------------------------------------------
// Headings
//
// Helpful resource:
// http://typecast.com/blog/a-more-modern-scale-for-web-typography
// -----------------------------------------------------------------------------

$ds-h1-font-size: ds-rem-calc(36) !default;
$ds-h2-font-size: ds-rem-calc(26) !default;
$ds-h3-font-size: ds-rem-calc(22) !default;
$ds-h4-font-size: $ds-font-size !default;
$ds-h5-font-size: ds-rem-calc(16) !default;
$ds-h6-font-size: ds-rem-calc(16) !default;
$ds-headings-line-height: 1.4 !default;


// -----------------------------------------------------------------------------
// Margins
// -----------------------------------------------------------------------------

$ds-type-margin: ds-rem-calc(20) !default;
