$ds-breakpoint-tablet: 768px;
$ds-breakpoint-laptop: 1024px;

$blog-max-width: 768px;

.blog {
  > h1 {
    text-align: center;
  }
}

.post {
  background: #fff;
  margin: 20px 10px 10px;
  max-width: $blog-max-width;
  padding: 20px 10px;
  position: relative;

  @media (min-width: $ds-breakpoint-tablet) {
    margin: 40px auto 40px;
    padding: 0 0 ds-rem-calc(50px);
  }

  @media (min-width: $ds-breakpoint-laptop) {
    margin: 60px auto 120px;
    padding: 40px 40px 40px;
  }

  &:after {
    @media (min-width: $ds-breakpoint-tablet) {
      background: rgba(0, 0, 0, .75);
      bottom: -67px;
      content: ' ';
      height: 13px;
      left: -60px;
      position: absolute;
      width: 120px;
    }

    @media (min-width: $ds-breakpoint-laptop) {
      height: 13px;
      left: -60px;
      width: 120px;
    }
  }

  &__header {
    border-bottom: 1px solid $ds-color-background;
    margin-left: -40px;
    margin-right: -40px;
    color: $ds-color-light-gray;
    margin-bottom: 25px;
    @media (max-width: $ds-breakpoint-tablet) {
      margin-bottom: 30px;
    }
  }

  &__title {
    line-height: 1.4;
    margin: 0 0 15px;

    @media (max-width: $ds-breakpoint-tablet) {
      font-size: ds-rem-calc(24);
      margin: 0 0 20px;
    }

    a {
      color: $ds-color-dark;
    }
  }

  &__date {
    color: $ds-color-light-gray;
    display: block;
    margin: 0 0 15px;

    a {
      color: inherit;
      cursor: auto;
    }
  }

  &__author {
    color: inherit;
  }

  &__read {
    margin-top: 15px;
  }



  &__body {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.post--update {
  .post__title {
    font-family: $ds-font-family;
    font-size: $ds-font-size-body-copy;
    font-weight: $ds-font-weight-bold;

    @media (max-width: $ds-breakpoint-tablet) {
      font-size: $ds-font-size-body-copy;
    }
  }
}
