.home {
  @extend %ds-page;

  @media (min-width: 1024px) and (min-height: 680px) {
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
  }

  h1 {
    font-size: $ds-h2-font-size;
    margin: 0;

    @media (max-width: $ds-breakpoint-iphone6-width) {
      span {
        display: none;
      }
    }
  }

  h2 {
    margin: 0 0 8px;

    @media (max-width: $ds-breakpoint-tablet) {
      &:before {
        content: 'This is ';
      }

      span {
        display: none;
      }
    }
  }

  p {
    margin: 0;

    a {
      @extend %ds-link-text;
    }
  }
}
