.home {
  @extend %ds-page-padding;
  margin: 0 auto;
  max-width: $ds-page-max-width;

  @media (min-width: 1024px) and (min-height: 680px) {
    align-items: center;
    display: flex;
    height: 100vh;
    //padding: 0 3vw;
    width: 100%;
  }

  h1, h2 {
    line-height: 1.3;
  }

  h1 {
    margin: 0;

    @media (max-width: $ds-breakpoint-iphone6-width) {
      span {
        display: none;
      }
    }
  }

  h2 {
    margin: 0 0 8px;

    @media (max-width: $ds-breakpoint-tablet) {
      &:before {
        content: 'This is ';
      }

      span {
        display: none;
      }
    }
  }

  p {
    margin: 0;

    a {
      @extend %ds-link-text;
    }
  }

  nav {
    @include breakpoint($ds-breakpoint-laptop) {
      li {
        ol {
          margin-left: 0;
        }
      }
    }
  }
}
