$nav-bp: 915px;
$nav-width-large: 50%;

nav:not([class]) {
  color: $ds-color-gray;
  ol {
    li {
      margin-bottom: 16px;
    }

    ol {
      margin-bottom: 0;
      list-style: none;
      position: relative;

      li {
        display: inline;
        margin-bottom: 0;

        &:after {
          content: ', ';
        }

        &:nth-last-child(2):after {
          content: ' & ';
        }

        &:last-child:after {
          content: '';
        }
      }
    }
  }

  li {
    &:last-child {
      padding-bottom: 0;
    }

    a {
      @extend %ds-link-nav;
    }
  }
}
// -----------------------------------------------------------------------------
// Navigation on pages other than index
// -----------------------------------------------------------------------------

.slideout-menu {
  background: #fff;
  min-height: 100vh;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.4s;
  z-index: 1000;

  .slideout-root-overlay & {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s;
  }

  @include breakpoint($nav-bp) {
    top: 80px;
    width: $nav-width-large;
  }

  @include breakpoint($ds-breakpoint-laptop) {
    top: 100px;
  }

  @include breakpoint($ds-breakpoint-desktop) {
    top: 140px;
  }
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: $ds-color-background;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-root:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
  pointer-events: none;
}

.slideout-root-overlay:before {
  content: ' ';
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;

  @media (max-width: $nav-bp) {
    background-color: rgba(0,0,0,.5);
  }

  @include breakpoint($nav-bp) {
    animation: slideout-root-overlay 2s;
    animation-iteration-count: infinite;
    left: $nav-width-large;
    padding: 60px;
    font-size: 36px;
    transition-timing-function: ease-in-out;
  }
}

@keyframes slideout-root-overlay {
  0%   {background-color: #eee;}
  20%  {background-color: #eee;}
  40%  {background-color: #ccc;}
  60%  {background-color: #ccc;}
  80%  {background-color: #eee;}
  100% {background-color: #eee;}
}

.navigation {
  padding: 0 15px 50px;

  ol {
    list-style-position: inside;
    font-size: 2rem;

    > li {
      border-top: 2px solid $ds-color-text;
      color: $ds-color-gray;

      &:first-child {
        border-top-width: 0;
      }

      &:last-child {
        border-bottom: 2px solid $ds-color-text;
      }
    }
  }

  a {
    color: $ds-color-black;
    display: inline-block;
    padding: 10px 0;

    @include breakpoint($ds-breakpoint-desktop) {
      padding: 20px 0;
    }
  }

  @include breakpoint($nav-bp) {
    padding: 0 20px 20px;

    ol {
      font-size: 1.25rem;

      > li {
        &:first-child {
          border-top-width: 2px;
        }
      }
    }
  }

  @include breakpoint($ds-breakpoint-desktop) {
    padding: 0 40px 40px;

    ol {
      font-size: 1.5rem;
    }
  }
}

.navigation-button {
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;


  @media (max-width: $nav-bp) {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    height: 180px;
    pointer-events: none;
  }

  @include breakpoint($nav-bp) {
    background: none;
    top: 0;
    height: 40px;
    right: auto;
    bottom: auto;
  }
}

.hamburger {
  background: #fff;
  border: 2px solid $ds-color-text;
  border-radius: 50%;
  bottom: 20px;
  height: 40px;
  left: 20px;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  width: 40px;
  -webkit-appearance: none;
  transition: all .4s ease-in-out;

  &:hover {
    background: black;
    opacity: 1;

    .hamburger-inner,
    .hamburger-inner:before,
    .hamburger-inner:after {
      background-color: white;
    }
  }

  @media (max-width: $ds-breakpoint-laptop) {
    .hamburger-inner {
      transform: scale(0.75);
    }
  }

  @include breakpoint($nav-bp) {
    bottom: auto;
    top: 20px;
  }

  @include breakpoint($ds-breakpoint-laptop) {
    height: 60px;
    width: 60px;
  }

  @include breakpoint($ds-breakpoint-desktop) {
    left: 40px;
    top: 40px;
  }

  .hamburger-box {
    top: 3px;
  }

  .hamburger-inner,
  .hamburger-inner:before,
  .hamburger-inner:after {
    background-color: $ds-color-text;
    transition: all .4s ease-in-out;
  }
}
