nav {
  ol {
    color: $ds-color-gray;

    li {
      margin-bottom: 16px;
    }

    ol {
      margin-bottom: 0;
      list-style: none;
      position: relative;

      li {
        display: inline;
        margin-bottom: 0;

        &:after {
          content: ', ';
        }

        &:nth-last-child(2):after {
          content: ' & ';
        }

        &:last-child:after {
          content: '';
        }
      }
    }
  }

  li {
    &:last-child {
      padding-bottom: 0;
    }

    a {
      @extend %ds-link-nav;
    }
  }
}
// -----------------------------------------------------------------------------
// Navigation on pages other than index
// -----------------------------------------------------------------------------

.slideout-menu {
  display: none;
  min-height: 100vh;
  padding-top: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: $ds-color-background; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-root:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
  pointer-events: none;
}

.slideout-root-overlay:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 256px;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}

.slideout-open .slideout-menu {
  display: block;
}

.navigation {
  padding: 0 15px 15px;
}

.navigation-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  h2 {
    color: #fff;
    line-height: 50px;
    margin: 0 auto;
    max-width: $ds-page-max-width;
    opacity: 0;

    padding: 0 15px;

    @include breakpoint($ds-breakpoint-iphone6) {
      padding: 0 20px;
    }

    @include breakpoint($ds-breakpoint-iphone6plus) {
      padding: 0 25px;
    }

    @include breakpoint($ds-breakpoint-tablet) {
      padding: 0 40px;
    }
  }

  .show-navigation & {
    background: $ds-color-text;
    height: 50px;

    h2 {
      opacity: 100;
    }
  }
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;

  -webkit-appearance: none;

  @include breakpoint($ds-breakpoint-tablet + 20) {
    background: $ds-color-background;

    &:before {
      display: none;
    }
  }

  &:hover {
    opacity: 1;
  }

  &.is-hidden {
    display: none;
  }

  &.is-active {
    background: none;
  }

  &.is-used {
    outline: none;
  }

  &.is-scrolling-up {
    .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
      background-color: white;

      @include breakpoint($ds-breakpoint-tablet + 20) {
        background-color: $ds-color-text;
      }
    }
  }

  .show-navigation & {
    .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
      background-color: white;
    }
  }
}

.hamburger-background {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;

  &.is-active {
    display: block;
  }

  &.is-hidden {
    display: none;
  }

  &:before {

    content:' ';

    position:absolute;

    /*width:200px;
    height:200px;
    right:-100px;
    top:-100px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, $ds-color-background 0%, rgba(255, 255, 255, 0) 100%);*/

    background: $ds-color-text;
    width: 55px;
    height: 50px;
    right: 0;
    top: 0;
  }
}

.navigation-overlay {
  background: $ds-color-background;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .js.show-navigation & {
    display: block;
  }
}

.show-navigation {
  overflow: hidden;
  [role="main"] {
    overflow: hidden;
    pointer-events: none;
  }
}
