.page {
  &__2col {
    @extend %ds-clearfix;

    @media (min-width: $ds-breakpoint-laptop) {
      margin: 0 -10px;
    }

    div {
      @media (min-width: $ds-breakpoint-laptop) {
        float: left;
        padding: 0 10px;
        width: 50%;
      }
    }
  }
}

.page-hot {
  ul {
    @extend %ds-clearfix;

    li {
      @media (min-width: $ds-breakpoint-tablet) {
        float: left;
        width: 50%;
      }
    }
  }
}
