.page {


  .l-2col {
    @extend %ds-clearfix;

    @media (min-width: $ds-breakpoint-laptop) {
      margin: 0 -10px;
    }

    div {
      @media (min-width: $ds-breakpoint-laptop) {
        float: left;
        padding: 0 10px;
        width: 50%;
      }
    }
  }
}
