// -----------------------------------------------------------------------------
// Utility stuff
// -----------------------------------------------------------------------------

%ds-t-center {
  text-align: center;
}
.t-center {
  @extend %ds-t-center;
}

%ds-t-right {
  text-align: right;
}
.t-right {
  @extend %ds-t-right;
}

%ds-t-uppercase {
  text-transform: uppercase;
}
.t-uppercase {
  @extend %ds-t-uppercase;
}

%ds-t-small {
  font-size: 1rem;
}
.t-small {
  @extend %ds-t-small;
}

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
%ds-link-nav {
  box-shadow: inset 0 -1px 0 $ds-color-text;
  color: $ds-color-text;
  transition: all .2s ease-in-out;

  &:hover {
    box-shadow: inset 0 -1px 0 $ds-color-link-hover;
    color: $ds-color-link-hover;
  }
}
.t-link-nav {
  @extend %ds-link-nav;
}

%ds-link-text {
  box-shadow: inset 0 -5px 0 rgba($ds-color-link, .25);
  color: black;
  transition: box-shadow .4s ease-in-out;

  &:hover {
    box-shadow: inset 0 -300px 0 rgba($ds-color-link, .25);
  }
}
.t-link-text {
  @extend %ds-link-text;
}

// -----------------------------------------------------------------------------
// Body text
// -----------------------------------------------------------------------------

%ds-t-lead {
  font-size: ds-rem-calc(22);
}
.t-lead {
  @extend %ds-t-lead;
}

%ds-t-meta {
  color: $ds-color-text-light;

  a {
    border-bottom: 1px solid $ds-color-dark-gray;
    color: $ds-color-dark-gray;

    &:hover {
      color: $ds-color-dark-gray;
    }
  }
}
.t-meta {
  @extend %ds-t-meta;
}

%ds-t-text {
  p,
  li {
    a {
      @extend %ds-link-text;
    }
  }
}
.t-text {
  @extend %ds-t-text;
}

// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------

/**
 * Unstyled
 */
%t-list-unstyled {
  list-style: none;
  margin-left: 0;
}
.t-list-unstyled {
  @extend %t-list-unstyled;
}

/**
 * Inline
 */
%t-list-inline {
  @extend %t-list-unstyled;

  & > li {
    display: inline-block;
    margin-right: ds-rem-calc(8);

    &:last-child {
      margin-right: 0;
    }
  }
}
.t-list-inline {
  @extend %t-list-inline;
}
