// -----------------------------------------------------------------------------
// Button: Default
// -----------------------------------------------------------------------------

%ds-button {
  background: $ds-color-dark-blue;
  border: 0;
  border-radius: 0;
  color: $ds-color-light-blue;
  cursor: pointer;
  display: inline-block;
  font-size: ds-rem-calc(14);
  font-weight: $ds-font-weight-bold;
  line-height: 1;
  padding: 8px 10px 7px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    background: darken($ds-color-light-blue, 7);
  }
}
.button {
  @extend %ds-button;
}

%ds-button--secondary {
  background: rgba(0, 0, 0, .75);
  color: #fff;

  &:hover {
    background: $ds-color-text;
    color: #fff;
  }
}
.button--secondary {
  @extend %ds-button--secondary;
}

%ds-button--cta {
  background: #d9e8d7;
  color: #428b36;

  &:hover {
    background: darken(#d9e8d7, 7);
    color: #428b36;
  }
}
.button--cta {
  @extend %ds-button--cta;
}

%ds-button--warning {
  background: #fbd2d5;
  border-color: #e91c2c;
  color: #e91c2c;

  &:hover {
    background: darken(#fbd2d5, 7);
    color: #e91c2c;
  }
}
.button--warning {
  @extend %ds-button--warning;
}

%ds-button--disabled {
  background: $ds-color-white;
  border-color: $ds-color-light-gray;
  color: $ds-color-light-gray;
  cursor: not-allowed;

  &:hover {
    background: $ds-color-white;
    color: $ds-color-light-gray;
  }
}
.button--disabled {
  @extend %ds-button--disabled;
}


%ds-button-action {
  background: $ds-color-white;
  border: 0;
  border-radius: 3px;
  color: $ds-color-text;
  display: inline-block;
  font-weight: $ds-font-weight-bold;
  padding: ds-rem-calc(8px) ds-rem-calc(12px);
  transition: all 0.2s ease;

  &:hover {
    background: $ds-color-active-white;
  }
}
.button-action {
  @extend %ds-button-action;
}

// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

%ds-header {
  h1 {
    font-size: 2rem;
    font-weight: 900;
    margin: 0 0 10px;

    @media (min-width: $ds-breakpoint-tablet) {
      font-size: 4rem;
    }
  }

  h2 {
    font-family: $ds-font-family;
    font-size: $ds-h3-font-size;
    font-weight: $ds-font-weight;
    margin: 0;
  }

  p {
    color: $ds-color-gray;
  }

  h1, h2, p {
    a {
      @extend %ds-link-text;
    }
  }
}

// -----------------------------------------------------------------------------
// Section
// -----------------------------------------------------------------------------

%ds-section {
  border-top: 10px solid #eee;
  margin-top: ds-rem-calc(30);
  padding-top: ds-rem-calc(30);
  position: relative;

  &:before,
  &:after {
    background: #333;
    top: -10px;
    content: ' ';
    height: 10px;

    position: absolute;
    width: 15px;
  }

  &:before {
    left: -15px;
  }

  &:after {
    right: -15px;
  }

  @include breakpoint($ds-breakpoint-iphone6) {
    margin-top: ds-rem-calc(36);
    padding-top: ds-rem-calc(36);

    &:before,
    &:after {
      width: 20px;
    }

    &:before {
      left: -20px;
    }

    &:after {
      right: -20px;
    }
  }

  @include breakpoint($ds-breakpoint-iphone6plus) {
    &:before,
    &:after {
      width: 25px;
    }

    &:before {
      left: -25px;
    }

    &:after {
      right: -25px;
    }
  }

  @include breakpoint($ds-breakpoint-laptop) {
    border-top: 0;
    margin-top: ds-rem-calc(65);
    padding-top: ds-rem-calc(65);
    margin-bottom: 60px;

    &:before {
      width: 80px;
      left: -40px;
    }

    &:after {
      display: none;
    }
  }

  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

%ds-section--background {
  background: #fff;
  border-top: 0;
  margin: 0 -10px 5px;
  padding: 10px;

  &:before,
  &:after {
    display: none;
  }

  @include breakpoint($ds-breakpoint-iphone6) {
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
  }

  @include breakpoint($ds-breakpoint-iphone6plus) {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
  }
}
