.l-wrapper {
  padding: ds-em-calc(35px) ds-em-calc(20px) ds-em-calc(40px);

  @include breakpoint($ds-breakpoint-tablet) {
    padding: ds-em-calc(60px) ds-em-calc(40px) ds-em-calc(40px);
  }

  @include breakpoint($ds-breakpoint-laptop) {
    margin: 0 auto;
    max-width: $ds-page-max-width;
    padding: ds-em-calc(80px) ds-em-calc(120px) ds-em-calc(60px);
  }
}

.l-section {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  margin: 0 (-(ds-em-calc(20px))) ds-em-calc(60px);
  padding: 0 ds-em-calc(20px) ds-em-calc(30px);
  position: relative;

  @include breakpoint($ds-breakpoint-tablet) {
    border: 0;
    margin: 0 0 ds-em-calc(40px);
    padding: 0 0 ds-em-calc(50px);
  }

  @include breakpoint($ds-breakpoint-laptop) {
    margin: 0 0 ds-em-calc(80px);
    padding: 0 0 ds-em-calc(90px);
  }

  &:after {
    @include breakpoint($ds-breakpoint-tablet) {
      background: rgba(0, 0, 0, .75);
      bottom: 0;
      content: ' ';
      height: 13px;
      left: -60px;
      position: absolute;
      width: 120px;
    }

    @include breakpoint($ds-breakpoint-laptop) {
      height: 13px;
      left: -60px;
      width: 120px;
    }
  }

  &:last-child:after {

  }
}

.l-content {
  max-width: ds-em-calc(700px);
}

.l-content--centered {
  margin: 0 auto;
}
