/**
 * Page heading
 */

.heading-page {
  margin: 0 0 ds-em-calc(20px);
  text-align: center;

  @include breakpoint($ds-breakpoint-tablet) {
    margin: 0 0 ds-em-calc(40px);
  }

  @include breakpoint($ds-breakpoint-laptop) {
    margin: 0 0 ds-em-calc(100px);
  }
}
