/**
 * shame.css
 * Credits: http://csswizardry.com/2013/04/shame-css/
 *
 * The Rules:
 *
 * 1. If it’s a hack, it goes in shame.css.
 * 2. Document all hacks fully:
 *    a) What part of the codebase does it relate to?
 *    b) Why was this needed?
 *    c) How does this fix it?
 *    d) How might you fix it properly, given more time?
 * 3. Do not blame the developer; if they explained why they had to do it then
 *    their reasons are probably (hopefully) valid.
 * 4. Try and clean shame.css up when you have some down time.
 *    a) Even better, get a tech-debt story in which you can dedicate actual
 *    sprint time to it.
 */

/**
 * EXAMPLE:
 *
 * Nav specificity fix.
 *
 * Someone used an ID in the header code (`#header a{}`) which trumps the
 * nav selectors (`.site-nav a{}`). Use !important to override it until I
 * have time to refactor the header stuff.
 */
.site-nav a {
   color: #BADA55 !important;
}

/////


// Used to wrap a section to divide it from other content
.block {
  border-bottom: 1px dashed rgba($ds-color-link, .4);
    margin-bottom: 5em;
}



// Override Fontelli icons opacity
[class^="icon-"]:before,
[class*=" icon-"]:before {
  opacity: 1;
}

// Button
.button {
  @include border-radius(3px);
  background: $ds-color-light;
  border: 1px solid $ds-color-light;
  display: inline-block;
  font-weight: $ds-font-weight-bold;
  padding: .4em .8em;

  &:hover {
    border: 1px dashed $ds-color-link;
    border-color: rgba($ds-color-link, .6);
    color: $ds-color-text-dark;
  }

  i {
    color: $ds-color-text;
  }
}

// Actions list
.actions {
  list-style: none;
  margin: 0;
  text-align: center;

  @include breakpoint($ds-breakpoint-tablet) {
    text-align: left;
  }

  li {
    display: inline-block;
    margin-right: .6em;
  }

  a {
    @extend .button;
    margin: 0 0 $ds-margin;
  }

  &.inline {
    li {
      display: block;
      margin-right: 0;
    }
  }
}

