.t-heading-site {
  margin: 0 0 0.3em;
  text-align: center;

  @include breakpoint($ds-breakpoint-tablet) {
    text-align: left;
  }

  @include breakpoint($ds-breakpoint-laptop) {

  }
}

.t-heading-marked {
  font-size: 2em;
  margin-bottom: 1em;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  span {
    background: rgba(0, 0, 0, .75);
    color: #fff;
    display: inline-block;
    margin: 0 0 1px;
    padding: 5px 10px;

    &:last-child {
      @include box-shadow(0 8px 0 rgba(0, 0, 0, .25));
      margin: 0;
    }
  }
}

.t-heading-section {
  font-size: 1.4em;
  text-transform: uppercase;
}

.t-lead {
  font-size: 1.15em;
  line-height: 1.8;

  @include breakpoint($ds-breakpoint-tablet) {
    font-size: 1.337em;
    line-height: 1.8;
  }

  a {
    border-bottom-width: 3px;
  }
}
