
.profile-photo {
  @include border-radius(50%);
  border: 6px solid #fff;
  max-width: 160px;

  @include breakpoint($ds-breakpoint-tablet) {
    border-width: 8px;
    max-width: 180px;
  }

  @include breakpoint($ds-breakpoint-laptop) {
    border-width: 13px;
    max-width: 240px;
  }
}
