// -----------------------------------------------------------------------------
// Posts
// The main posts listing
// -----------------------------------------------------------------------------

.posts {

}

// -----------------------------------------------------------------------------
// Post
// -----------------------------------------------------------------------------

.post {
  background: #fff;
  padding: ds-em-calc(30px);

  @include breakpoint($ds-breakpoint-tablet) {
    margin-left: (-(ds-em-calc(10px)));
    margin-right: (-(ds-em-calc(10px)));
    padding: ds-em-calc(40px);
  }

  @include breakpoint($ds-breakpoint-laptop) {
    margin-left: (-(ds-em-calc(20px)));
    margin-right: (-(ds-em-calc(20px)));
    padding: ds-em-calc(50px);
  }
}

.post__title {

}

.post__image {

}

.post__video {

}

.post__quote {

}

.post__cite {

}

.post__summary {

}

.post__content {

}

.post__read-more {
  padding-top: 20px;
}

.post__footer {

}

.post__meta {
  color: #888;
  text-align: right;

  a {
    border: 0;
    color: #888;
  }
}

.post__source {

}

.post__comments {
  padding-top: ds-em-calc(30px);
}

// -----------------------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------------------

.pagination {
  text-align: center;

  a {
    border: 0;

    img {
      opacity: .8;
    }
  }
}

.pagination__previous {
  display: inline-block;
  margin-right: 20px;

  img {
    @include transform(rotate(-180deg));
  }
}

.pagination__next {
  display: inline-block;
  margin-left: 20px;
}
