
.home-presentation {
  .profile-photo {
    margin: 0 auto ds-em-calc(25px);

    @include breakpoint($ds-breakpoint-tablet) {
      float: right;
    }
  }
}


/**
 * Projects / Play
 */
.project-list {
  @include clearfix;
  list-style: none;
  margin: 0;

  img {
    float: left;
  }

  figcaption {
    background: #fff;
    clear: both;
    padding: 20px;
  }
}

.project-list__item {
  @include breakpoint(320px) {
    float: left;
    margin: 0 ds-em-calc(30px) ds-em-calc(30px) 0;
    max-width: ds-em-calc(320px);
  }
}

.project-list__title {
  font: $ds-font-weight-bold 1em/1.2 $ds-font-family;
  margin: 0;

  a {
    color: $ds-color-link;
  }
}

.project-list__description {
  padding-top: 10px;
}
