.nav {
  font-family: $ds-font-family-headings;
  font-weight: $ds-font-weight-bold;
  margin: ds-em-calc(40px) 0 0;
  text-align: center;
  text-transform: uppercase;

  a {
    border: 0;
    color: rgba(0, 0, 0, .5);
    display: inline-block;
    margin-right: ds-em-calc(15px);

    &:hover,
    &:focus {
      color: #000;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
