$ds-em: 16px !default;
@function ds-em-calc($pixels, $em-size: $ds-em) {
  @return $pixels / $em-size * 1em;
}

//
// GLOBALS
//

// Breakpoints: Context specific
$ds-breakpoint-smartphone: ds-em-calc(480px);
$ds-breakpoint-tablet-small: ds-em-calc(600px);
$ds-breakpoint-tablet: ds-em-calc(768px);
$ds-breakpoint-laptop: ds-em-calc(992px);
$ds-breakpoint-desktop: ds-em-calc(1200px);
$ds-breakpoint-cinema: ds-em-calc(2146px);

// Breakpoints: Device specifc
$ds-breakpoint-iphone-portrait: ds-em-calc(320px);
$ds-breakpoint-iphone-landscape: ds-em-calc(480px);

// Colors
$ds-color-background: #D1E8EE !default;
$ds-color-border: #000 !default;
$ds-color-gray: #292E2F !default;
$ds-color-text: #000 !default;
$ds-color-text-dark: #000 !default;
$ds-color-link: #1b8dad !default;
$ds-color-link-hover: #1b8dad !default;
$ds-color-link-border: lighten($ds-color-link, 5) !default;
$ds-color-heading: #2FDBA8 !default;
$ds-color-light: #fff !default;

// Directions
$ds-float: left !default;
$ds-float-opposite: right !default;
$ds-text-direction: ltr !default;

// Fonts
$ds-font-family: "Cousine", monospace !default;
$ds-font-family-headings: "futura-pt", sans-serif !default;
$ds-font-size: 100% !default;
$ds-font-smoothing: antialiased !default;
$ds-font-style: normal !default;
$ds-font-weight: 400 !default;
$ds-font-weight-bold: 700 !default;
$ds-font-weight-extra-bold: 800 !default;

// Headings
$ds-h1-font-size: ds-em-calc(68px) !default;
$ds-h2-font-size: ds-em-calc(24px) !default;
$ds-h3-font-size: ds-em-calc(18px) !default;
$ds-h4-font-size: ds-em-calc(16px) !default;
$ds-h5-font-size: ds-em-calc(14px) !default;
$ds-h6-font-size: ds-em-calc(14px) !default;

$ds-h1-line-height: 1.333 !default;
$ds-h2-line-height: 1.333 !default;
$ds-h3-line-height: 1.333 !default;
$ds-h4-line-height: 1.333 !default;
$ds-h5-line-height: 1.333 !default;
$ds-h6-line-height: 1.333 !default;

// Measure
$ds-line-height: ds-em-calc(24px) !default;
$ds-margin: ds-em-calc(20px) !default;
$ds-padding: ds-em-calc(20px) !default;
$ds-page-max-width: ds-em-calc(1400px) !default;
$ds-radius: ds-em-calc(5px) !default;
