---
title: Per Sandström
layout: page
---

<header>
  <h1>Per Sandström</h1>
  <h2>
    Digital designer, developer, web enthusiast, maker, dad…
  </h2>
  <p>Stockholm, Sweden</p>
</header>

<section class="box box--no-divider t-lead">
  <%= partial "partials/about/intro" %>
</section>

<section id="work" class="page box box--transparent">
  <h2>Current work situation:</h2>

  <h2>Founder &amp; Head of Production at Kollegorna</h2>

  <h3>A digital agency born in 2010 building products and services.</h3>

  <hr>

  <div class="l-2-columns">
    <div class="l-2-columns__column">
      <h4>Services</h4>

      <ul>
        <li>Concepts</li>
        <li>Strategy</li>
        <li>UX and UI design</li>
        <li>Development</li>
        <li>Brand Identities</li>
      </ul>
    </div>

    <div class="l-2-columns__column">
      <h4>Tech stack</h4>

      <ul>
        <li>Ruby on Rails</li>
        <li>Go</li>
        <li>Node.js</li>
        <li>Ember.js</li>
        <li>WordPress <small>(Trellis, Bedrock &amp; Sage)</small></li>
      </ul>
    </div>
  </div>

  <h4>Clients</h4>

  <p>Privately held and listed companies, startups, organisations, NGOs and government authorities. Our mothership is in Stockholm, but as we’re a distributed agency we’re spread from Santo Domingo in the west to Plovdiv in the east.</p>

  <h4>Links</h4>

  <ul class="t-list-inline">
  <li><a href="https://www.kollegorna.se/sv">Hej!</a><br></li>
  <li><a href="https://www.kollegorna.se/en">Hello!</a><br></li>
  <li><a href="https://www.kollegorna.se/en/careers">Careers</a><br></li>
  <li><a href="https://blog.kollegorna.se">English blog</a><br></li>
  <li><a href="https://youmightalsolike.us">You Might Also Like</a><br></li>
  <li><a href="https://github.com/kollegorna">GitHub</a><br></li>
  <li><a href="https://facebook.com/kollegorna">Facebook</a><br></li>
  <li><a href="https://twitter.com/kollegorna">Twitter</a><br></li>
  </ul>

  <hr>

  <h2>Own ventures</h2>

  <p>As if building things for clients wasn’t enough we also do own projects. The most prominent of those are…</p>

  <p><a href="https://www.releasefest.se">Releasefest</a><br>
  A community driven website where we celebrate swedish digital products and services. Somewhat like ProductHunt but with just swedish sites, services, apps, campaigns and more.</p>

  <p><a href="http://www.konginitiative.com">The Kong Initiative</a><br>
  Getting your hands on extra wide snowboards has always been hard for europeans. We aim to change that by specializing in only the widest boards on the market. We ship to the entire EU as well as Norway and Switzerland.</p>

  <p><a href="http://gpx.io">GPX.io</a><br>
  Show off your activity in a simple way on a map. You don’t print and frame all your photos – but you do with those that are special. GPX.io helps you frame your most significant activities.</p>
</section>

<section id="work-previous" class="box box--transparent">
  <%= partial "partials/about/work_previous" %>
</section>

<section id="academic-achievements" class="box box--transparent">
  <h2>Academic achievements</h2>

  <hr>

  <div class="l-2-columns">
    <div class="l-2-columns__column">
      <h4>Dropped out of</h4>

      <p>Hyper Island<br>
      2002 –<br>
      Digital Media Creative</p>

      <p>Blackeberg High School<br>
      1999 –<br>
      Natual Science program    </p>
    </div>

    <div class="l-2-columns__column">
      <h4>Completed</h4>

      <p>Tappströmsskolan<br>
      1996 – 1999<br>
      Junior high school  </p>

      <p>Närlundaskolan<br>
      1990 – 1996<br>
      Lower and intermediary school</p>
    </div>
  </div>
</section>

<section id="academic-achievements" class="box box--transparent">
  <h2>Engagements, associations &amp; affliations</h2>

  <hr>

  <p>Various things I contribute to, either by giving them  time and/or money.</p>

  <div class="l-2-columns">
    <div class="l-2-columns__column">
      <h4>Member / supporter</h4>

      <ul>
        <li><a href="https://eff.org" title="The leading nonprofit organization defending civil liberties in the digital world.">EFF</a></li>
        <li><a href="https://opensource.org" title="A non-profit corporation with global scope formed to educate about and advocate for the benefits of open source and to build bridges among different constituencies in the open source community.">Open Source Initiative</a></li>
        <li><a href="http://www.isoc.se" title="Swedish chapter of the world's independent source of leadership for Internet policy, technology standards, and future development.">Internet Society Sweden</a></li>
        <li><a href="https://rsf.org/en" title="Reporters Without Borders (RSF) – working for journalism and for freedom of information.">Reporters sans frontières</a></li>
        <li><a href="https://www.blankspotproject.se/in-english/" title="A digital platform for longform journalism, reported from around the world, with a goal to tell the stories that do not get told.">Blank Spot Project</a></li>
      </ul>
    </div>

    <div class="l-2-columns__column">
      <h4>Committments</h4>

      <ul>
        <li>Directorate member,<br>
        Webbutveckling E-handel,<br>
        <a href="http://cmeducations.se">Changemaker Educations</a></li>
      </ul>
    </div>
  </div>
</section>

<section id="computing" class="box box--transparent">
  <%= partial "partials/about/computing" %>
</section>

<section id="homepage" class="box box--transparent">
  <%= partial "partials/about/homepage" %>
</section>
