---
title: "Blog"
body_class: blog-index
---

<h1>
  <span>
    <%= blog.articles.count %> posts
  </span>
</h1>

<a href="http://feeds.feedburner.com/HelloPer" class="blog-index__rss" title="Subscribe to the RSS feed">
  <svg version="1.1" class="icon icon--rss" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
    <path fill="#FFFFFF" d="M2.4,2.4v2.367c7.086,0,12.83,5.746,12.83,12.832h2.369C17.599,9.205,10.794,2.4,2.4,2.4z M2.4,7.137v2.369
    c4.469,0,8.093,3.623,8.093,8.094h2.368C12.861,11.822,8.177,7.137,2.4,7.137z M4.669,13.059c-1.254,0-2.27,1.018-2.27,2.271
    s1.016,2.27,2.27,2.27s2.269-1.016,2.269-2.27S5.923,13.059,4.669,13.059z"/>
  </svg>
</a>

<a href="/" class="blog-index__home" title="Back home">
  <svg version="1.1" class="icon icon--home" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
    <path fill="#FFFFFF" d="M18.672,11H17v6c0,0.445-0.194,1-1,1h-4v-6H8v6H4c-0.806,0-1-0.555-1-1v-6H1.328
    c-0.598,0-0.47-0.324-0.06-0.748L9.292,2.22C9.487,2.018,9.743,1.918,10,1.908c0.257,0.01,0.513,0.109,0.708,0.312l8.023,8.031
    C19.142,10.676,19.27,11,18.672,11z"/>
  </svg>
</a>

<% blog.articles.each do |article| %>
  <article vocab="http://schema.org/" typeof="BlogPosting">
    <a property="url" href="<%= article.url %>">
      <h1 property="name" class="post__title">
        <%= article.title %>
      </h1>
      <time class="post__date" property="dateCreated" pubdate>
        <%= article.date.strftime('%b %e %Y') %>
      </time>
    </a>
  </article>
<% end %>
