---
title: Per Sandströms Homepage
body_class: home
---

<article role="main">
  <h4>Welcome to the homepage of…</h4>
  <h1>Per Sandström</h1>
  <h2>Designer, developer &amp; more…</h2>

  <p>Driven by a chronic thirst for knowledge I design, develop and lead web projects at <a href="https://www.kollegorna.se">Kollegorna</a> – a digital agency I run with a bunch of geniuses.</p>

  <hr>

  <h3>On this website</h3>

  <ul>
    <li><a href="/blog">Read my blog</a></li>
    <li><a href="/about">About me</a></li>
  </ul>

  <hr>

  <h3>Business elsewhere</h3>

  <ul>
    <li><a href="mailto:per@helloper.com">Send an email</a></li>
    <li>
      Code on <a href="https://github.com/persand">GitHub</a>
    </li>
    <li>
      Buy <a href="http://www.konginitiative.com">wide snowboards</a> from me
    </li>
    <li>
      I'm also on <a href="https://facebook.com/permalink">Facebook</a>, <a href="http://www.linkedin.com/in/psandstrom">LinkedIn</a>, <a href="https://twitter.com/persand">Twitter</a> and <a href="https://keybase.io/per">Keybase</a>
    </li>
  </ul>
</article>

<script type="application/ld+json">
<%= per_json_data %>
</script>
