---
title: Per Sandströms Homepage
body_class: home
---

<article>
  <h4>Welcome to the homepage of…</h4>
  <h1>Per Sandström</h1>
  <h2>Designer, developer &amp; more…</h2>

  <p>Driven by a chronic thirst for knowledge I design, develop and lead web projects at <a href="https://www.kollegorna.se">Kollegorna</a> – a digital agency I run with a bunch of geniuses.</p>

  <hr>

  <h3>Coming soon on this website</h3>

  <ul class="home__inactive">
    <li><a href="#">My blog</a> – brief updates &amp; longer posts</li>
    <li>Learn more <a href="#">about me</a></li>
  </ul>

  <hr>

  <h3>Business elsewhere</h3>

  <ul>
    <li>Want to talk directly?<br><a href="mailto:per@helloper.com">Email</a>, <a href="http://telegram.me/persand">Telegram</a> or <a href="https://twitter.com/persand">Twitter</a></li>
    <li>
      I publish code on <a href="https://github.com/persand">GitHub</a>
    </li>
    <li>
      Buy snowboards from me at <a href="http://www.konginitiative.com">The Kong Initiative</a>
    </li>
    <li>
      Snoop around more on <a href="https://facebook.com/permalink">Facebook</a> or <a href="http://www.linkedin.com/in/psandstrom">LinkedIn</a>
    </li>
    <li>
      Public key on <a href="https://keybase.io/per">Keybase</a>
    </li>
  </ul>
</article>
