---
title: Per Sandströms Homepage
body_class: home
---

<article role="main">
  <figure>
    <%= image_tag 'per.jpg', alt: 'Per Sandström' %>
  </figure>

  <h1><span>Hello,</span> I'm Per Sandström!</h1>
  <h2><span>Welcome to</span> my homepage.</h2>

  <p>Driven by a chronic thirst for knowledge I design, develop and lead projects at <a href="https://www.kollegorna.se/en">Kollegorna</a> – a digital agency I run with a bunch of geniuses.</p>

  <hr>

  <nav>
    <ol>
      <% unless current_page.url == '/' %>
        <li><a href="/">Index</a>
      <% end %>
      <li><a href="/about">About me</a></li>
      <li>
        <a href="/blog">Rarely updated blog</a>
        <ol>
          <li>Top picks: <a href="/blog/2017/01/vcrss/">Raspberry Pi based VCR</a></li>
          <li><a href="/blog/2016/11/so-long-blaskan/">So long and godspeed, Blaskan</a></li>
        </ol>
      </li>
      <!--<li>Misc stuff
        <ol>
          <li><a href="/hot">What's hot</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/api">API</a></li>
          <li><a href="/links">Links</a></li>
        </ol>

      </li>-->
      <li>
        Elsewhere:
        <ol>
          <li><a href="https://github.com/persand">GitHub</a></li>
          <li><a href="https://facebook.com/permalink">Facebook</a></li>
          <li><a href="https://keybase.io/per">Keybase</a></li>
          <li><a href="https://pinboard.in/u:per">Pinboard</a></li>
          <li><a href="https://www.linkedin.com/in/psandstrom">LinkedIn</a></li>
          <li><a href="http://stackexchange.com/users/63883/per-sandstr%C3%B6m">StackExchange</a></li>
          <li><a href="https://twitter.com/persand">Twitter</a></li>
        </ol>
      </li>
    </ol>
  </nav>
</article>

<script type="application/ld+json">
<%= per_json_data %>
</script>
