---
title: Per Sandströms Homepage
body_class: home
---

<article role="main">
  <h1><span>Hello,</span> I'm Per Sandström!</h1>
  <h2><span>Welcome to</span> my homepage.</h2>

  <p>Driven by a chronic thirst for knowledge I design, develop and lead projects at <a href="https://www.kollegorna.se/en">Kollegorna</a> – a digital agency I run with a bunch of geniuses.</p>

  <hr>

  <%= partial 'partials/navigation' %>
</article>

<script type="application/ld+json">
<%= per_json_data %>
</script>
