---
title: Per Sandström
body_class: home
---

<article class="home__content" role="main">
  <figure>
    <img src="/media/images/per-sandstrom.jpg">
  </figure>

  <h1>
    Why hello there,<br>
    I'm Per Sandström
  </h1>

  <p>
    Driven by a chronic thirst for knowledge I design, develop and lead web projects at <a href="https://www.kollegorna.se">Kollegorna</a> – a digital agency I run with a bunch of geniuses.
  </p>
  <p>
    Did I have you at hello? Let's get in touch. No? Well enjoy your stay at my incredible homepage and get to know me some more.
  </p>

  <ul>
    <li>
      <a href="/blog">
        Blog
      </a>
    </li>
    <li>
      <a href="/about">
        About
      </a>
    </li>
    <li>
      <a href="https://github.com/persand" rel="me">
        GitHub
      </a>
    </li>
    <li>
      <a href="https://twitter.com/persand" rel="me">
        Twitter
      </a>
    </li>
    <li>
      <a href="http://www.linkedin.com/in/psandstrom" rel="me">
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://keybase.io/per">
        Keybase
      </a>
    </li>
    <li>
      <a href="mailto:per@helloper.com">
        Email me
      </a>
    </li>
    <li>
      <a href="tel:+46702420750">
        Call me
      </a>
    </li>
  </ul>
</article>
