---
title: Links — Per Sandströms Homepage
layout: page
---

<header>
  <h1>Favorite websites</h1>
  <h2>
    Top class browsing in the endless cyberspace.
  </h2>
</header>

<section class="box box--transparent">
  <%= partial "partials/pages/links" %>
</section>
